<!DOCTYPE html>
<html lang="PT-BR">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Site BataTECH Cursos">
    <meta name="keywords" content="Cursos,Curso,ead,EAD">
    <meta name="author" content="BataTECH">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BataTECH Cursos EAD</title>
    <link rel="stylesheet" type="text/css" href="../statics/site.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>
<body>   
    <header id="efeito">
        <div class="container">

            <div class="flex">
                
                <a href="TelaHome.html"><img src="../imagens/LogoEAD.png" class="Logo" alt="Logo BataTECH"></a>

                <div class="pesquisa-container">
                    <input type="text" class="pesquisa-txt" placeholder="Pesquisar...">
                    <a href="#" class="pesquisa-btn">
                        <i class="bi bi-search"></i>
                    </a>
                    
                </div>

                <nav>
                    <ul>
                        <li><a href="#"><i class="bi bi-gear"></i></a></li>
                        <li><a href="#"><i class="bi bi-headset"></i></a></li>
                    </ul>
                </nav>

                <div class="btn-login">
                    <a href="TelaLogin.html"><button>LOGIN</button></a>
                </div>

                <div class="btn-cadastrar">
                    <a href="TelaCadastro.html"><button>CADASTRAR</button></a>
                </div>

            </div><!--flex-->

        </div><!--container-->
    </header>

    <section class="banner">
        
    </section>

</body>
</html>