html, body {
    height: 100%;
    margin: 0;
}

body {
    font-family: Arial, sans-serif;
    background-image: url('../imagens/pika.jpg'); 
    background-size: cover;  
    background-position: center; 
    background-attachment: fixed; 
    display: flex;  
    justify-content: center; 
    align-items: center;  
    height: 100vh; 
}

.container {
    background: rgba(255, 255, 255, 0.7);
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    max-width: 500px; 
    width: 100%;
}

h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
}

button {
    background-color: #333;
    color: white;
    font-size: 16px;
    padding: 15px 25px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px 0;
    transition: background-color 0.3s ease;
    width: 200px; 
    display: block; 
    margin-left: auto; 
    margin-right: auto; 
}

button:hover {
    background-color: #333;
}

a {
    text-decoration: none;
}
.user-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.user-container input {
    width: 250px;
    line-height: 40px;
    border: 0;
    outline: 0;
    font-size: 20px;
    padding: 0px 50px 0px 20px;
    border-radius: 15px;
}

.user-container i {
    position: absolute;
    right: 100px; 
}
.password-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.password-container input {
    width: 250px;
    line-height: 40px;
    border: 0;
    outline: 0;
    font-size: 20px;
    padding: 0px 50px 0px 20px;
    border-radius: 15px;
}


.password-container i {
    position: absolute;
    right: 100px; 
    cursor: pointer;
}

@media (max-width: 600px) {
    .container {
        padding: 20px;
        width: 90%;
    }

    h2 {
        font-size: 20px;
    }

    button {
        font-size: 14px;
        padding: 12px 20px;
    }
}